<%- include('common/nav.js'); -%>
<form method ="GET"action="">
    <label>Email:</label><br>
    <input type="text" name="email" ><br>
    <label>Password:</label><br>
    <input type="password" name="password" ><br><br>
    
    <button type="submit">Login</button>
  </form> 