<%- include('common/nav.js'); -%>
<html>
<head>
    <title>Profile page</title>
</head>
<body>
   <h1>  Welcome !
       <%=name%>
   </h1>
 <h3>Email:<%=data.email%></h3>
   <ol>
       <% data.skills.forEach(function(item){ %>
            <li><%=item%></li>
       <%})%>
   </ol> 

</body>
</html>